.container{
    /* position: absolute; */
    top: 10%;
    left: 23%;
    width: 40%;
    text-align: left;
    }
    
    .text{
    display: inline;
    width: 100%;
    /* display: flex; */
    }
    
    .readorhide{
    color: rgb(192,192,192);
    cursor: pointer;
    }
    .scontent{
      display: flex;
      /* justify-content: space-evenly; */
      gap: 20px;
      text-align: left;
    }
    
  
  
    
  